.nav-brand-icon{
	height: 50px!important;
	width: 50px!important;
}
body{
	font-family: arial;
	font-size:14px;
	color: #fff;
	background: #333;
	line-height: 1.6em;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
#container{
	width: 980px;
	margin: 40px auto;
	overflow: hidden;
}

#slider{
	width: 940px;
	height: 350px;
	position: relative;
	overflow: hidden;
	float: left;
	border-radius: 5px;
	color: #fff;
}
#slider img {
	width: 940px;
	height: 350px;
}
.slide{
	position: absolute;
}
.slide-copy{
	position: absolute;
	bottom:0;
	left: 0;
	padding: 20px;
	background: color #7f7f7f;
	background: rgba(0,0,0,0.5);	
	width: 100%;
}
#prev, #next{
	float:left;
	margin-top: 130px;
	cursor: pointer;
	position: relative;
	z-index: 100;
}
#prev{
	margin-right: -45px;
}
#next{
	margin-left: -45px;
}
.video-thumb-img {
	width: 200px;
	height:  300px;
	border-radius: 5px;
	position: absolute;
}
.video-thumb-img:hover {
  position: absolute;
  opacity: 0.5;
  transition: .5s ease;
  background: #ffff;
}
.video-thumb-title {
  display:none;
  color: #fff;
  padding: 4px;
}

.col:hover .video-thumb-title {
  display:inline;
  position:absolute;
  opacity: 1;
}
.overlay {
	width: 200px;
	height:  300px;
	background: black;
	border-radius: 5px;
}
/*Summary Specific*/
.summary-description{
	height: 180px; 
	overflow-y: scroll;
}
.thumb-carosel-container{
	border-radius: 5px;
	padding-left:1px;
	margin-top: 5px;
	margin-left:5px;
	height: 60px;
    width: 215px;
	background-color: rgba(51,51,51);
	overflow-x: scroll;
	overflow-y: scroll;
	position: relative;
	padding-top: 2px;
}
.video-thumb-sm {
	border-radius: 5px;
	height: 46px;
	width: 46px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right:2px;
	position: relative;
}
.video-thumb-sm:hover {
  opacity: 0.5;
  transition: .5s ease;
}
.break-line {
	background-color: white;
	margin-top: 25px;
	bottom: 0;
}
.video-summary-img {
	max-width: 200px;
	max-height:  250px;
	width:auto;
	height: auto;
	border-radius: 5px;
	position: relative;
	display: block;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.video-summary-img:hover {
  opacity: 0.5;
  transition: .5s ease;
}
.video-summary-img-container{
	height:250px;
	width:200px;
}


/*Reusable*/

.min-height-3 {
	min-height: 300px;
}
.text-links{
	color: #D75745;
	font-style: italic;
}
a:hover{
	text-decoration-color: #D75745 !important;
    text-decoration: underline;
    color:#D75745 !important;
}

.text-Otitle{
	color: #D75745;
	font-style: bold;
}
.navbar-brand-text {
	color: #D75745 !important;
	font-size: 1.6rem !important;
}
.dark-card {
	background-color: #242424;
	border: 0px;
}
.dark-light-card {
	background-color: #333333;
	border: 0px;
}
.btn-orange {
	color: #fff;
  	background-color: #D75745;
  	border-color: #D75745;
}
.hashtag{
	color: #3490dc;
}
/*nav*/
.search-box{
	border-radius: 5px;
	margin: 5px;
	height:30px;
}
/*tweets*/
.tweet-icon{
	border-radius: 20px;
	width:30px;
	height:30px;
}
.minimal-gray{
	color:gray; 
	font-size: 10px;
}
.float-r{
	float: right;
}

